<div class="banner">
  <div class="align-middle text-center">
    <h3><%= @list.name %></h3>
  </div>
</div>
<div class="my-list">
  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-6">
      <%= link_to "add bookmark", new_list_bookmark_path(@list), role: "button", class: "btn btn-success btn-sm create-list" %>
    </div>
  </div>
</div>

<div class="row">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="col-4">
      <div class="card mb-5 card-item">
        <%= image_tag "#{bookmark.movie.poster_url}", style: 'height:300px;width:500px;'%>
        <div class="card-body">
            <h5><%= bookmark.movie.title %></h5>
            <%= bookmark.movie.rating%>
            <p><%= bookmark.movie.overview %></p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <%= bookmark.comment %>
            </div>
            <div class="col-6">
              <%= link_to list_bookmark_path(bookmark),
               data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash-can delete-item"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
